/* GoldenHeader.css */

/* Style the Navbar */
.golden-header {
    
    top: 10px;
    border-radius: 5rem;
    background-color: transparent; /* Make the background transparent */
    position: fixed; /* Fix the header to the top of the viewport */
    width: fit-content; /* Full width of the viewport */
    margin-inline: auto; /* Center the header */
    z-index: 1000; /* Ensure it's above other elements */
    transition: background-color 0.3s ease; /* Add a smooth background color transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Style the Navbar Brand (logo) */
.golden-header .navbar-brand {
    padding: 0 2rem;
    color: #ffd700; /* Set the text color to gold */
}

/* Style the Navbar Links */
.golden-header .nav-link {
    width: 7rem;
    color: #ffd700; /* Set the link text color to gold */
}

/* Style the Navbar Links on hover */
.golden-header .nav-link:hover {
    color: #fff; /* Change color on hover */
    background-color: #ffd700;
    border-radius: 5rem;
}
